<ul>
	<li><span class="different-font">git init </span>
		<br>Create a new local repository.                    
	</li>
	
	<li><span class="different-font">git status </span>
		<br>List the files you have changed and 
		those you still need to add or commit.
	</li>
	
	<li><span class="different-font">git remote add 
		origin &lt;server&gt; </span><br>If you have not 
		connected your local repository to a remote server, 
		add the server to be able to push to it                    
	</li>
	
	<li><span class="different-font">git remote -v </span>
		<br>List all currently configured 
		remote repositories.                    
	</li>
	
	<li><span class="different-font">git push origin master 
		</span><br>Send changes to the 
		master branch of your remote repository                    
	</li>
	
	<li><span class="different-font">git add &lt;filename&gt; 
		or git add .  </span><br>Add one or more 
		files to staging (index).                    
	</li>
	
	<li><span class="different-font">git commit -m 
		"Commit message" </span><br>Commit changes to local 
		repository but not yet to the remote repository.                    
	</li>
</ul>